﻿@using Nop.Core.Data
@using Nop.Data
@using Nop.Plugin.Widget.NopSlider.Domain
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Plugin.Widgets.NopSlider.Domain.Enum
@model IEnumerable<Nop.Plugin.Widgets.NopSlider.Model.CategoryBannerModel>

@{
    Layout = null;
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.carousel.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.theme.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.transitions.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/Stylesheet1.css");
    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Scripts/owl.carousel.js");

    ViewBag.id = ViewBag.id;
}
@foreach (var item in Model)
{
    <div class="hidden">
        <div class="SliderId">@item.Id</div>
    </div>

    if (item.NavigationButtonPosition == "banner_top")
    {
        <div class="customNavigation row">
            <a class="btn prev-@item.Id">Previous</a>
            <a class="btn next-@item.Id">Next</a>
            <a class="btn play-@item.Id">Autoplay</a>
            <a class="btn stop-@item.Id">Stop</a>
        </div>
    }
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div id="owl-demo-@item.Id" class="owl-carousel owl-theme">

            @foreach (var image in item.Items)
                {
                    if (image.ProductId == 0)
                    {
                    <div>
                        <a href="@image.Url" target="_blank"><img src="@image.FilePath" alt="@image.Caption" width="100%"></a>
                    </div>

                }
            }

        </div>
    </div>
    if (item.NavigationButtonPosition == "banner_bottom")
    {
        <div class="customNavigation">
            <a class="btn prev-@item.Id">Previous</a>
            <a class="btn next-@item.Id">Next</a>
            <a class="btn play-@item.Id">Autoplay</a>
            <a class="btn stop-@item.Id">Stop</a>
        </div>
    }
    <div class="hidden">
        <div class="IsProgressBar-@item.Id">@item.IsProgressBar</div>
        <div class="ProgressBarPosition-@item.Id">@item.ProgressBarPostition</div>
        <div class="TransitionStyle-@item.Id">@item.TransitionStyle</div>
        <div class="Interval-@item.Id">@item.Interval</div>
        @if (item.IconChevronActive == true)
        {
            <div class="IconChevronActive-@item.Id">true</div>
        }
        else
        {

            <div class="IconChevronActive-@item.Id">false</div>
        }
        @if (@item.IsMouseDragOn == true)
        {
            <div class="IsMouseDragOn-@item.Id">true</div>
        }
        else
        {
            <div class="IsMouseDragOn-@item.Id">false</div>
        }

    </div>
    <script>
        $(document).ready(function () {
            var time = parseInt($(".Interval-@item.Id").text(), 10); // time in seconds
            var $progressBar,
                $bar,
                $elem,
                isPause = false,
                tick,
                percentTime;
            chevronActive = $(".IconChevronActive-@item.Id").text();
            chevronActive_bool = chevronActive == "true" ? true : false;
            mouseDragOn = $(".IsMouseDragOn-@item.Id").text();
            mouseDragOn_bool = mouseDragOn == "true" ? true : false;

            var owl = $("#owl-demo-@item.Id");
            owl.owlCarousel({

                itemsDesktop: [1000, 2], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 1], // betweem 900px and 601px
                itemsTablet: [600, 1], //2 items between 600 and 0
                itemsMobile: false,  // itemsMobile disabled - inherit from itemsTablet option
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                afterInit: progressBar,
                afterMove: moved,
                startDragging: pauseOnDragging,
                mouseDrag: mouseDragOn_bool,
                transitionStyle: $(".TransitionStyle-@item.Id").show().html(),
                navigation: chevronActive_bool,
                navigationText: [
                  "<i class='icon-chevron-left icon-white'><</i>",
                  "<i class='icon-chevron-right icon-white'>></i>"
                ]
            });

            owl.trigger('owl.play', 7000);

            // Custom Navigation Events
            $(".next-@item.Id").click(function () {
                owl.trigger('owl.next');
            });
            $(".prev-@item.Id").click(function () {
                owl.trigger('owl.prev');
            });
            $(".play-@item.Id").click(function () {
                owl.trigger('owl.play', 7000); //owl.play event accept autoPlay speed as second parameter
                isPause = false;
            });
            $(".stop-@item.Id").click(function () {
                owl.trigger('owl.stop');
                isPause = true;
            });

            function progressBar(elem) {
                $elem = elem;
                if ($(".IsProgressBar-@item.Id").show().html() == "True") {
                    //build progress bar elements
                    buildProgressBar();
                    //start counting
                    start();
                }
            }

            //create div#progressBar and div#bar then prepend to $("#owl-demo")
            function buildProgressBar() {
                if ($(".ProgressBarPosition-@item.Id").show().html() == "banner_top") {
                    progressBarOnTop();
                }
                if ($(".ProgressBarPosition-@item.Id").show().html() == "banner_bottom") {
                    progressBarOnBottom();
                }

            }
            function progressBarOnTop() {
                $progressBar = $("<div>", {
                    id: "progressBar"
                });
                $bar = $("<div>", {
                    id: "bar"
                });
                $progressBar.append($bar).prependTo($elem);
            }
            function progressBarOnBottom() {
                $progressBar = $("<div>", {
                    id: "progressBar"
                });
                $bar = $("<div>", {
                    id: "bar"
                });
                $progressBar.append($bar).appendTo($elem);
            }

            function start() {
                //reset timer
                percentTime = 0;
                //run interval every 0.01 second
                tick = setInterval(interval, 10);
            };

            function interval() {
                if (isPause === false) {
                    percentTime += 1 / time;
                    if ($(".IsProgressBar-@item.Id").show().html() == "True") {
                        $bar.css({
                            width: percentTime + "%"
                        });
                    }

                    //if percentTime is equal or greater than 100
                    if (percentTime >= 100) {
                        //slide to next item
                        $elem.trigger('owl.next');
                    }
                }
            }

            //pause while dragging
            function pauseOnDragging() {
                isPause = true;
            }

            //moved callback
            function moved() {
                //clear interval
                clearTimeout(tick);
                //start again
                start();
            }

        });
    </script>

}