﻿@model IList<DirectCarouselModel>
@using System.Web.Mvc.Html
@using Nop.Core.Data
@using Nop.Data
@using Nop.Plugin.Widget.NopSlider.Domain
@using Nop.Plugin.Widgets.NopSlider.Model
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@{
    Layout = null;
    Html.AddCssFileParts(ResourceLocation.Head,"~/Plugins/Widgets.NopSlider/Content/owl.carousel.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.theme.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.transitions.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/Stylesheet1.css");
    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Scripts/owl.carousel.js", true);
}
  
@{
    var id = 0;
}
@foreach (var m in Model)
{
    //var id = @m.SliderId;
    id++;
    
    <div class="hidden">
        @if (m.IsNavigationButton == true && m.NavigationButtonPosition == "banner_top")
        {
            //if (m.NavigationButtonPosition == "banner_top")
            //{
                <div id="NavigationButtonPosition-@id">Top</div>
            //}
        }

        @if (m.IsNavigationButton == true && m.NavigationButtonPosition == "banner_bottom")
        {
            //if (m.NavigationButtonPosition == "banner_bottom")
            //{
                <div id="NavigationButtonPosition-@id">Bottom</div>
            //}
        }

    </div>

    <div class="hidden">


        <div id="NoOfItems-@id">@m.NoOfItems</div>
        @if (m.IconChevronActive)
        {
            <div id="IconChevronActive-@id">true</div>
        }
        else
        {

            <div id="IconChevronActive-@id">false</div>
        }
        @if (m.IsLazyLoad)
        {
            <div id="IsLazyLoad-@id">true</div>
        }
        else
        {

            <div id="IsLazyLoad-@id">false</div>
        }
    </div>
}

<script type="text/javascript">
    var GivenNames = [];

    @foreach (var d in Model)
    {
        @:GivenNames.push("@Html.Raw(d.SliderName)");
    }
</script>
    


<script>
    $(document).ready(function () {
        GivenNames.forEach(function (x, index) {
            var prevBtn = "previous-" + (index + 1);
            var nxtBtn = "next-" + (index + 1);
            var html = "<div class='customNavigation row'>"+
                    "<a class='btn " + prevBtn + "'>Previous</a>"+
                    "<a class='btn " + nxtBtn + "'>Next</a>"+
                "</div>";
            var prevBtnClass = "." + prevBtn;
            var nxtBtnClass = "." + nxtBtn;
            
            //var divName = document.getElementsByClassName(x);
            //if (divName.length > 0)
            //{
                //var owl = $(divName);
            var owl = $(x);
                var navigationButton = "#NavigationButtonPosition-" + (index + 1);
                var navigationButtonPosition = $(navigationButton).text();
                if (navigationButtonPosition == "Top")
                {
                    owl.before(html);
                }
                else if (navigationButtonPosition == "Bottom")
                {
                    owl.after(html);
                }

                var itemNoId = "#NoOfItems-" + (index + 1);
                var chevronActiveId = "#IconChevronActive-" + (index +1) ;
                var isLazyLoadId = "#IsLazyLoad-" + (index + 1);

                var itemNo = $(itemNoId).html();
                var chevronActive = $(chevronActiveId).text();
                var chevronActive_bool = chevronActive == "true" ? true : false;
                var isLazyLoad = $(isLazyLoadId).text();
                var isLazyLoad_bool = isLazyLoad == "true" ? true : false;

                owl.owlCarousel({
                    items: itemNo,
                    autoplay: true,
                    autoplayTimeout: 1000,
                    autoplayHoverPause: true,
                    navigation: chevronActive_bool,
                    lazyLoad: isLazyLoad_bool,
                    navigationText: [
                      "<i class='icon-chevron-left icon-white'><</i>",
                      "<i class='icon-chevron-right icon-white'>></i>"
                    ]
                });
                $(nxtBtnClass).click(function () {
                    owl.trigger('owl.next');
                });
                $(prevBtnClass).click(function () {
                    owl.trigger('owl.prev');
                });
            //}
        }
        );
    });
    </script>