﻿@using Nop.Core.Data
@using Nop.Data
@using Nop.Plugin.Widget.NopSlider.Domain
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Plugin.Widgets.NopSlider.Domain.Enum
@model IEnumerable<Nop.Plugin.Widgets.NopSlider.Model.BannerModel>

@{
    Layout = null;
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/Stylesheet1.css");

    ViewBag.id = ViewBag.id;
}
@foreach (var item in Model)
{
    <div class="hidden">
        <div class="SliderId">@item.Id</div>
    </div>      

    if (item.SliderType == SliderType.Banner || item.SliderType == SliderType.CategoryBanner)
    {
        foreach (var image in item.Items)
        {
            if (image.ProductId == 0)
            {
                <div>
                    <a href="@image.Url" target="_blank"><img src="@image.FilePath" alt="@image.Caption" width="100%"></a>
                </div>
            }
        }
        

    }


    else if(item.SliderType == SliderType.Carousel)
    {
        Html.RenderAction("CarouselWidget", "Slider", new { SliderId = @item.Id });
    }

    else
    {
        Html.RenderAction("DirectCarouselWidget", "Slider");
    }

}