﻿@model IList<ProductOverviewModel>
@using System.Web.Mvc.Html
@using Nop.Core.Data
@using Nop.Data
@using Nop.Plugin.Widget.NopSlider.Domain
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@{
    var id = @ViewBag.SliderId;
}
@if (Model.Count > 0)
{

    <div class="product-grid home-page-product-grid">

        <div class="title">
            <strong>@ViewBag.SliderName</strong>
        </div>
        @if (ViewBag.IsNavigationButton == 1)
        {
            if (ViewBag.NavigationButtonPosition == 1)
            {
                <div class="customNavigation row">
                    <a class="btn prev-@id">Previous</a>
                    <a class="btn next-@id">Next</a>
                </div>
            }
        }
        <div id="owl-demo-@id" class="owl-carousel owl-theme">

            @foreach (var item in Model)
            {
                <div class="item-box" style="width: 100%">
                    @Html.Partial("_NopSliderProductBox", item)
                </div>
            }
        </div>
        @if (ViewBag.IsNavigationButton == 1)
        {
            if (ViewBag.NavigationButtonPosition == 0)
            {
                <div class="customNavigation row">
                    <a class="btn prev-@id">Previous</a>
                    <a class="btn next-@id">Next</a>
                </div>
            }
        }

    </div>
    <div class="hidden">


        <div class="NoOfItems-@id">@ViewBag.NoOfItems</div>
        @if (ViewBag.IconChevronActive == 1)
        {
            <div class="IconChevronActive-@id">true</div>
        }
        else
        {

            <div class="IconChevronActive-@id">false</div>
        }
        @if (ViewBag.IsLazyLoad == 1)
        {
            <div class="IsLazyLoad-@id">true</div>
        }
        else
        {

            <div class="IsLazyLoad-@id">false</div>
        }
    </div>
}
<script>
    $(document).ready(function () {
        var itemNo = parseInt($(".NoOfItems-@id").text(), 10);
        var owl = $("#owl-demo-@id");
        var chevronActive = $(".IconChevronActive-@id").text();
        var chevronActive_bool = chevronActive == "true" ? true : false;
        var isLazyLoad = $(".IsLazyLoad-@id").text();
        var isLazyLoad_bool = isLazyLoad == "true" ? true : false;
        owl.owlCarousel({
            items: itemNo,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            navigation: chevronActive_bool,
            lazyLoad: isLazyLoad_bool,
            navigationText: [
              "<i class='icon-chevron-left icon-white'><</i>",
              "<i class='icon-chevron-right icon-white'>></i>"
            ]
        });
        // Custom Navigation Events
        $(".next-@id").click(function () {
            owl.trigger('owl.next');
        });
        $(".prev-@id").click(function () {
            owl.trigger('owl.prev');

        });

    });
</script>