﻿@using System.Diagnostics
@using Nop.Web.Framework;
@using System.Linq;
@using Nop.Web.Framework.UI;
@model Nop.Plugin.Widgets.NopSlider.Model.CategoryBannerModel

@{
    Layout = "_AdminLayout.cshtml";
    ViewBag.id = Model.Id;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        Add New Category Banner @Html.ActionLink("(" + "back to Slider list" + ")", "ManageSliders")
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#slider-edit").kendoTabStrip({
            animation: {
                open: { effects: "fadeIN" }
            },
            select: tabstrip_on_tab_select
        });

        if ($('#IsNavigationButtonrYes').is(':checked')) {
            $('.ifNavigationButtonShow').show();
        } else {
            $('.ifNavigationButtonShow').hide();
        }

        $('#IsNavigationButtonNo').click(function () {
            $('.ifNavigationButtonShow').hide();
        });
        $('#IsNavigationButtonrYes').click(function () {
            $('.ifNavigationButtonShow').show();
        });

        if ($('#ProgressBarYes').is(':checked')) {
            $('.ifProgressBarShow').show();
        } else {
            $('.ifProgressBarShow').hide();
        }

        $('#ProgressBarNo').click(function () {
            $('.ifProgressBarShow').hide();
        });
        $('#ProgressBarYes').click(function () {
            $('.ifProgressBarShow').show();
        });

    });
</script>

<div id="slider-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>Slider</li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>Images</li>
    </ul>
    <div>@CreateUpdate()</div>
    <div>@Images()</div>
</div>

@helper CreateUpdate()
{
using (Html.BeginForm())
{
        <fieldset>

            <legend><strong>Manage Your Slider</strong></legend>
            <table class="adminContent">
                <tr>
                    <td class="adminData">@Html.HiddenFor(m => m.Id)</td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.SliderName):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.SliderName)
                        @Html.ValidationMessageFor(m => m.SliderName)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsActive):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.IsActive)
                        @Html.ValidationMessageFor(m => m.IsActive)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.Interval):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.Interval)
                        @Html.ValidationMessageFor(m => m.Interval)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.CategoryId):</td>
                    <td class="adminData">
                        @Html.DropDownList("CategoryId", Model.CategoryList, "Select One Category")
                        @Html.ValidationMessageFor(m => m.CategoryId)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.ZoneName):</td>
                    <td class="adminData">
                        @Html.Label("categorydetails_top")
                        @Html.ValidationMessageFor(m => m.ZoneName)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsNavigationButton):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IsNavigationButton, true, new { id = "IsNavigationButtonrYes" }) Yes
                        @Html.RadioButtonFor(m => m.IsNavigationButton, false, new { id = "IsNavigationButtonNo" }) No
                        @Html.ValidationMessageFor(m => m.IsNavigationButton)
                    </td>
                </tr>

                <tr class="ifNavigationButtonShow">
                    <td class="adminTitle">@Html.NopLabelFor(m => m.NavigationButtonPosition):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.NavigationButtonPosition, new SelectList(
                            new List<string>()
                            {
                                "banner_top",
                                "banner_bottom",
                            }))
                        @Html.ValidationMessageFor(m => m.NavigationButtonPosition)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsProgressBar):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IsProgressBar, true, new { id = "ProgressBarYes" }) Yes
                        @Html.RadioButtonFor(m => m.IsProgressBar, false, new { id = "ProgressBarNo" }) No
                        @Html.ValidationMessageFor(m => m.IsProgressBar)
                    </td>
                </tr>
                <tr class="ifProgressBarShow">
                    <td class="adminTitle">@Html.NopLabelFor(m => m.ProgressBarPostition):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.ProgressBarPostition, new SelectList(
                            new List<string>()
                            {
                                "banner_top",
                                "banner_bottom",

                            }))
                        @Html.ValidationMessageFor(m => m.ProgressBarPostition)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.TransitionStyle):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.TransitionStyle, new SelectList(
                            new List<string>()
                            {
                                "fade",
                                "backSlide",
                                "goDown",
                                "fadeUp"

                            }))
                        @Html.ValidationMessageFor(m => m.TransitionStyle)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IconChevronActive):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IconChevronActive, true, new { id = "Yes" }) Yes
                        @Html.RadioButtonFor(m => m.IconChevronActive, false, new { id = "No" }) No
                        @Html.ValidationMessageFor(m => m.IconChevronActive)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsMouseDragOn):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IsMouseDragOn, true, new { id = "Yes" }) Yes
                        @Html.RadioButtonFor(m => m.IsMouseDragOn, false, new { id = "No" }) No
                        @Html.ValidationMessageFor(m => m.IsMouseDragOn)
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />

        <table class="adminContent">
            <tr>
                <td colspan="2">
                    <input type="submit" name="save" id="submit" class="k-button" value="Save" />
                </td>
            </tr>
        </table>



}
}



@helper Images()
{
if (Model.Id > 0)
{
        @Html.Action("ManageItems", new { SliderId = Model.Id })
}
}