﻿@using System.Diagnostics
@using Nop.Web.Framework;
@using System.Linq;
@using Nop.Web.Framework.UI;
@model Nop.Plugin.Widgets.NopSlider.Model.CarouselModel

@{
    Layout = "_AdminLayout.cshtml";
    ViewBag.id = Model.Id;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        Add New Carousel @Html.ActionLink("(" + "back to Slider list" + ")", "ManageSliders")
    </div>
</div>
<script>
    $(document).ready(function () {



        $("#slider-edit").kendoTabStrip({
            animation: {
                open: { effects: "fadeIN" }
            },
            select: tabstrip_on_tab_select
        });
        if ($('#IsNavigationButtonrYes').is(':checked')) {
            $('.ifNavigationButtonShow').show();
        } else {
            $('.ifNavigationButtonShow').hide();
        }

        $('#IsNavigationButtonNo').click(function () {
            $('.ifNavigationButtonShow').hide();
        });
        $('#IsNavigationButtonrYes').click(function () {
            $('.ifNavigationButtonShow').show();
        });


    });
</script>

<div id="slider-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>Slider</li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>Product</li>
    </ul>
    <div>@CreateUpdate()</div>
    <div>@Images()</div>
</div>

@helper CreateUpdate()
{

    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "carouselform" }))
    {
        <fieldset>

            <legend><strong>Manage Your Slider</strong></legend>
            <table class="adminContent">

                <tr>
                    <td class="adminData">@Html.HiddenFor(m => m.Id)</td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.SliderName):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.SliderName)
                        @Html.ValidationMessageFor(m => m.SliderName)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsActive):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.IsActive)
                        @Html.ValidationMessageFor(m => m.IsActive)
                    </td>
                </tr>
                <div class="hidden">
                    <tr>
                        <td class="adminTitle">@Html.NopLabelFor(m => m.Interval):</td>
                        <td class="adminData">
                            @Html.EditorFor(m => m.Interval)
                            @Html.ValidationMessageFor(m => m.Interval)
                        </td>
                    </tr>
                </div> 
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.ZoneName):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.ZoneName, new SelectList(
                            new List<string>()
                            {
                                "productdetails_top",
                                "catagorydetails_after_breadcrumb",
                                //"categorydetails_top",
                                "categorydetails_before_featured_products",
                                "productdetails_bottom_before_footer",
                                "home_page_top",
                                "home_page_before_news",
                                "home_page_bottom"
                            }))
                        @Html.ValidationMessageFor(m => m.ZoneName)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsNavigationButton):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IsNavigationButton, true, new { id = "IsNavigationButtonrYes" }) Yes
                        @Html.RadioButtonFor(m => m.IsNavigationButton, false, new { id = "IsNavigationButtonNo" }) No
                        @Html.ValidationMessageFor(m => m.IsNavigationButton)
                    </td>
                </tr>
                <tr class="ifNavigationButtonShow">
                    <td class="adminTitle">@Html.NopLabelFor(m => m.NavigationButtonPosition):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.NavigationButtonPosition, new SelectList(
                            new List<string>()
                            {
                                "banner_top",
                                "banner_bottom",
                            }))
                        @Html.ValidationMessageFor(m => m.NavigationButtonPosition)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.NoOfItems):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.NoOfItems)
                        @Html.ValidationMessageFor(m => m.NoOfItems)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IconChevronActive):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IconChevronActive, true, new { id = "Yes" }) Yes
                        @Html.RadioButtonFor(m => m.IconChevronActive, false, new { id = "No" }) No
                        @Html.ValidationMessageFor(m => m.IconChevronActive)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsLazyLoad):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IsLazyLoad, true, new { id = "Yes" }) Yes
                        @Html.RadioButtonFor(m => m.IsLazyLoad, false, new { id = "No" }) No
                        @Html.ValidationMessageFor(m => m.IsLazyLoad)
                    </td>
                </tr>
           
            </table>

        </fieldset>
        <br />

        <table class="adminContent">
            <tr>
                <td colspan="2">
                    <input type="submit" name="save" id="submit" class="k-button" value="Save" />
                </td>
            </tr>
        </table>


    }
}

@helper Images()
{
    if (Model.Id > 0)
    {
        @Html.Action("ManageItemsCarousel", new { SliderId = Model.Id })
    }
}


