﻿@using Nop.Core.Domain.Catalog
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@model Nop.Plugin.Widgets.NopSlider.Model.ProductListModel
@{
    Layout = "_AdminLayout.cshtml";
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Catalog.Products.Manage").Text;
    ViewBag.SliderId = ViewBag.SliderId;
    Model.SearchOnlyHomePageProducts = false;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt=""/>
            @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.AddNew")
        </div>
        <div class="options">
            <input type="button" value="Add" id="product-save" class="k-button"/>
        </div>
    </div>

    <table width="100%">


        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchOnlyHomePageProducts):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchOnlyHomePageProducts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchOnlyBestSoldProducts):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchOnlyBestSoldProducts)
            </td>
        </tr>
    </table>
      <hr/>
    <table width="100%">

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchNewProducts):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchNewProducts)
            </td>
        </tr>

      

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchProductName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchProductName)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchCategoryId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchOnlyCategoryFeatureProducts):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchOnlyCategoryFeatureProducts)
            </td>
        </tr>

        @*<tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SearchIncludeSubCategories):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SearchIncludeSubCategories)
                </td>
            </tr>*@
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchManufacturerId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchManufacturerId", Model.AvailableManufacturers)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchStoreId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchStoreId", Model.AvailableStores)
            </td>
        </tr>
        <tr @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchVendorId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchVendorId", Model.AvailableVendors)
            </td>
        </tr>
        @*<tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SearchWarehouseId):
                </td>
                <td class="adminData">
                    @Html.DropDownList("SearchWarehouseId", Model.AvailableWarehouses)
                </td>
            </tr>*@
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchProductTypeId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchProductTypeId", Model.AvailableProductTypes)
            </td>
        </tr>
        @*<tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.GoDirectlyToSku):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.GoDirectlyToSku)
                    <input type="submit" id="go-to-product-by-sku" name="go-to-product-by-sku" class="k-button" value="@T("Admin.Common.Go")" />
                </td>
            </tr>*@

      
        <tr>
            <td colspan="2">
                <input type="button" id="search-products" class="k-button" value="@T("Admin.Common.Search")" />
            </td>
        </tr>
    </table>
  <hr/>
   
    <table class="adminContent">
        <tr>
            <td>
                <div id="products-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#products-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductList", "Slider"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }


                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                               {
                                   field: "Id",
                                   headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                   headerAttributes: { style: "text-align:center" },
                                   attributes: { style: "text-align:center" },
                                   template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                   width: 50
                               }, {
                                   field: "Name",
                                   title: "@T("Admin.Catalog.Products.Fields.Name")",
                                   width: 100
                               },{
                                   field: "Published",
                                   title: "@T("Admin.Catalog.Products.Fields.Published")",
                                   width: 100,
                                   headerAttributes: { style: "text-align:center" },
                                   attributes: { style: "text-align:center" },
                                   template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Published#.gif" />'
                               }

                            ]
                        } );
                    });
                </script>
            </td>
        </tr>
    </table>

    <script type="text/javascript">

        var selectedIds = [];

        $(document).ready(function () {
            //search button
            $('#search-products').click(function () {
                $('#@Html.FieldIdFor(model => model.SearchOnlyHomePageProducts)').attr('checked', false).change();
                $('#@Html.FieldIdFor(model => model.SearchOnlyBestSoldProducts)').attr('checked', false).change();
                //search
                var grid = $('#products-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchOnlyHomePageProducts)").click( function(){
                $('#@Html.FieldIdFor(model => model.SearchOnlyBestSoldProducts)').attr('checked', false).change();
                if ($(this).is(':checked')) {
                    //search
                    var grid = $('#products-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    
                }
            });

            $("#@Html.FieldIdFor(model => model.SearchOnlyBestSoldProducts)").click( function(){
                $('#@Html.FieldIdFor(model => model.SearchOnlyHomePageProducts)').attr('checked', false).change();
                if ($(this).is(':checked')) {
                    //search
                    var grid = $('#products-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    
                }
            });

            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.GoDirectlyToSku)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#go-to-product-by-sku").click();
                    return false;
                }
            });

          

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
            $('#product-save').click(function(e) {

                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                var postData = {
                    selectedIds: selectedIds
                };
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("ProductSave", "Slider"))",
                    data: {
                        selectedIds:selectedIds,
                        SliderId:  @Html.Raw(Json.Encode(ViewBag.SliderId))
                        },
                    complete: function(data) {
                        window.opener.RefreshGrid();
                        window.close();

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                    traditional: true
                });

                //    //var grid = $('#products-grid').data().kendoGrid;
                //    //$.each(grid.dataSource.view(), function () {
                //    //    var ischecked = grid.tbody.find(":checked");
                //    //    var strSelectedIds = "";
                //    //    $.each(ischecked, function() {
                //    //        if (strSelectedIds != "")
                //    //            strSelectedIds += "|" + $(this).attr("id");
                //    //        else
                //    //            strSelectedIds += $(this).attr("id");
                //    //    });
                //    //    alert(strSelectedIds);
                //        //var entityGrid = $("#products-grid").data("kendoGrid");

                //        //var rows = entityGrid.select();
                //        //alert(rows);
                //        //rows.each(function(index, row) {
                //        //    var selectedItem = entityGrid.dataItem(row);
                //        //    alert(selectedItem);
                //        // selectedItem has EntityVersionId and the rest of your model
            });


        });

        function additionalData() {
            return {
                SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                SearchCategoryId: $('#SearchCategoryId').val(),
                SearchIncludeSubCategories: $('#@Html.FieldIdFor(model => model.SearchIncludeSubCategories)').is(':checked'),
                SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                SearchWarehouseId: $('#SearchWarehouseId').val(),
                SearchVendorId: $('#SearchVendorId').val(),
                SearchProductTypeId: $('#SearchProductTypeId').val(),
                SearchNewProducts: $('#@Html.FieldIdFor(model => model.SearchNewProducts)').is(':checked'),
                SearchOnlyHomePageProducts: $('#@Html.FieldIdFor(model => model.SearchOnlyHomePageProducts)').is(':checked'),
                SearchOnlyCategoryFeatureProducts: $('#@Html.FieldIdFor(model => model.SearchOnlyCategoryFeatureProducts)').is(':checked'),
                SearchOnlyBestSoldProducts: $('#@Html.FieldIdFor(model => model.SearchOnlyBestSoldProducts)').is(':checked'),
            };
        }

        function onDataBound(e) {
            $('#products-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.
                $(this).attr('checked', checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
}

