﻿@using Nop.Web.Framework;
@using Nop.Plugin.Widgets.NopSlider.Domain.Enum;

@{
    Layout = "_AdminLayout.cshtml";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        Manage Sliders
    </div>
    <div class="options">
        <a href="@Url.Action("/CreateBanner")" class="k-button">New Banner</a>
        <a href="@Url.Action("/CreateCategoryBanner")" class="k-button">New Category Banner</a>
        <a href="@Url.Action("/CreateCarousel")" class="k-button">New Carousel</a>
        <a href="@Url.Action("/CreateDirectCarousel")" class="k-button">New Direct Carousel</a>

    </div>
</div>
<div id="sliders"></div>

<script>
    $(document).ready(function () {
        $("#sliders").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ListSliders", "Slider"))",
                        type: "POST",
                        dataType: "json"
                    },
                    update: {
                        url: "@Html.Raw(Url.Action("UpdateSlider", "Slider"))",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("DeleteSlider", "Slider"))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: true, type: "number" },
                            SliderName: { editable: false, type: "string" },
                            IsActive: { editable: true, type: "boolean" },
                            SliderTypeName: { editable: false, type: "string" },
                            IconChevronActive: { editable: true, type: "boolean" },
                            DisplayOrder: { editable: true, type: "number" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "SliderName",
                title: "Nop Slider Name",
                template: '#if(SliderType == 0) {#<a href="/Slider/UpdateBanner?SliderId=#=Id#">#=SliderName#</a> #} else if(SliderType == 1) {#<a href="/Slider/UpdateCategoryBanner?SliderId=#=Id#">#=SliderName#</a> #} else if(SliderType == 2) {#<a href="/Slider/UpdateCarousel?SliderId=#=Id#">#=SliderName#</a> #} else{#<a href="/Slider/UpdateDirectCarousel?SliderId=#=Id#">#=SliderName#</a> #}#',
                width: 150
            }, {
                field: "IsActive",
                title: "Is Active",
                //integer format
                width: 150
            },
             {
                 field: "SliderTypeName",
                 title: "Slider Type",
                 //integer format
                 width: 150
             },
            {
                field: "IconChevronActive",
                title: "Icon Chevron Active",
                //integer format
                width: 150
            },
               {
                   field: "DisplayOrder",
                   title: "Display Order",
                   //integer format
                   width: 150
               },
            {
                command: [{
                    name: "edit",
                    text: "@T("Admin.Common.Edit")"
                }, {
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 200
            }]
        });
    });
</script>