﻿@using Nop.Plugin.Widgets.NopSlider.Domain.Enum
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@*@model IEnumerable<Nop.Core.Domain.Catalog.Product>*@


<div id="productpictures-grid"></div>


<script>
        $(document).ready(function() {
            $("#productpictures-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            @*url: "@Html.Raw(Url.Action("GetItemsList", "NopSlider", new {SliderId = Model.}))",*@
                            type: "POST",
                            dataType: "json"
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("UpdateItem", "Slider"))",
                            type: "POST",
                            dataType: "json"
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("DeleteItem", "Slider"))",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "SliderId",
                            fields: {
                                DisplayOrder: { editable: true, type: "string" },
                                FilePath: { editable: false, type: "string" },
                                //Caption: { editable: true, type: "string" },
                                //Url: { editable: true, type: "string" },
                                ItemId: { editable: false, visible: false, type: "number" },
                                SliderId: { editable: false, visible: false, type: "number" }
                            }
                        }
                    },
                    requestEnd: function(e) {
                        if (e.type == "update") {
                            this.read();
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: true,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                    {
                        field: "FilePath",
                        title: "Item",
                        template: '<img alt="#=SliderId#" src="#=FilePath#" width="150" />',
                        width: 200
                    },
                    //{
                    //    field: "Caption",
                    //    title: "Caption",
                    //    //integer format
                    //    width: 150
                    //},
                    //{
                    //    field: "Url",
                    //    title: "Url",
                    //    //integer format
                    //    width: 150
                    //},
                    {
                        field: "DisplayOrder",
                        title: "DisplayOrder",
                        //integer format
                        width: 150
                    }, {
                        command: [
                            {
                                name: "edit",
                                text: "Edit"
                            }, {
                                name: "destroy",
                                text: "Delete"
                            }
                        ],
                        width: 200
                    }
                ]
            });
        });
</script>




